<div style='padding: 0 5px 5px 5px'>
    <h6 style="text-align: center">{{ station.name }}</h6>
  <ion-button *ngFor="let line of station.lines" fill="clear" [ngStyle]="getButtonStyle(line)" (click)="popOverStationClick(line)">
    {{ line.shortName }}
  </ion-button>
</div>
