#lines-banner {
  height: 9rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.hours-div {
  height: calc(100% - 2rem);
  margin-bottom: 0;
}

.hours-list {
  overflow-y: auto;
  height: calc(100% - 7rem);
}

.line-loader {
  --color: white;
}

.unselected {
  opacity: 0.35;
}

.lines-div {
  display: inline-block;
  border-right: solid 1px;
}

.line-type {
  background-color: #8e8e8e;
  color: #ffffff;
  padding: 5px;
}

.swap-button {
}
