<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="hours" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Horaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <ion-segment *ngIf="showedLinesHours.length > 0" scrollable
               [(ngModel)]="currentSegment" (ionChange)="currentSegment = $event.detail.value">
    <ion-segment-button *ngFor="let line of showedLinesHours" [value]="line.line.id"
                        [class]="'hydrated ' + (currentSegment !== line.line.id ? 'unselected' : '')"
                        [ngStyle]="line.line.getStyle()">
      <ion-label>{{ line.line.shortName }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="loaded">
    <div class="hours-div" *ngFor="let line of showedLinesHours" [hidden]="currentSegment !== line.line.id">
      <ion-grid>
        <ion-row>
          <ion-label>{{ line.hours.wayName() }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-icon item-start name="time"></ion-icon>
              <ion-datetime [(ngModel)]="dateTime" (ionChange)="loadTime(line, $event.detail.value)" display-format="DD/MM HH:mm" pickerFormat="DD/MM HH:mm"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col align-self-end>
            <ion-item>
              <ion-buttons slot="end">
                <ion-button (click)="changeTime(line, false)">
                  <ion-icon slot="icon-only" name="arrow-dropleft"></ion-icon>
                </ion-button>
                <ion-button (click)="changeTime(line, true)">
                  <ion-icon slot="icon-only" name="arrow-dropright"></ion-icon>
                </ion-button>
                <ion-button class="swap-button" (click)="line.hours.swapWay()">
                  <ion-icon slot="icon-only" name="swap"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list class="hours-list">
        <ion-item *ngFor="let stop of line.hours.currentWay.arrets">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h6>{{ stop.stopName }}</h6>
              </ion-col>
              <ion-col size="2">
                <ion-buttons>
                  <ion-button (click)="fav(line, stop.zoneCode)">
                    <ion-icon slot="icon-only" [name]="this.favorites[line.line.id][stop.zoneCode] ? 'star' : 'star-outline'">
                    </ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
            <ion-row>
              <ng-container *ngFor="let hour of stop.trips">
                <ion-col size="3" *ngIf="!isPassed(hour)">
                  {{ midnightTimestampToString(hour) }}
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-grid id="lines-banner" *ngIf="nonshowedLinesHours.length > 0">
    <ion-row nowrap>
      <div class="lines-div" *ngFor="let lines of nonshowedLinesHours; let index = index">
        <ion-grid>
          <ion-row class="line-type">
            <ion-label>{{ lines[0].typeToString() }}</ion-label>
          </ion-row>
          <ion-row nowrap *ngFor="let multi of [0, 1]">
            <ion-col
                    *ngFor="let line of getPart(lines, multi)">
              <ion-button fill="clear" size="default" (click)="addLineHours(line.id, index, spinners[line.id])"
                          [ngStyle]="line.getStyle(spinners[line.id])">
                {{ spinners[line.id] !== false ? line.shortName : '' }}
                <ion-spinner *ngIf="spinners[line.id] === false" class="line-loader" name="dots"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-row>
  </ion-grid>
</ion-footer>
