<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Autour de moi</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div id="map-page">
        <div id="nearby-map"></div>
        <ion-card id="search-params" style="width: 90%">
            <ion-card-content>
                <ion-range min="100" max="1000" color="primary" [(ngModel)]="radius">
                    <ion-icon slot="start" name="locate"></ion-icon>
                    <ion-label slot="end" id="radius-value">{{ radius }}m</ion-label>
                    <ion-button (click)="searchNearby($event)" style="display: inline-block" slot="end"><ion-icon name="search" *ngIf="!isLoading"></ion-icon><ion-spinner name="dots" *ngIf="isLoading"></ion-spinner></ion-button>
                </ion-range>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
