#nearby-map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.map-station-icon {
    font-size: 3em;
}

#search-params {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    background-color: #ffffff;
    z-index: 2;
}

#map-page {
    position: relative;
    width: 100%;
    height: 100%;
}

#radius-value {
    width: 4em;
}
