<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lignes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let lines of lineList; let index = index">
    <ion-card-header>
      <ion-card-title>{{ lines[0].typeToString() }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-around>
          <ion-col *ngFor="let line of lines" size="auto"
                   [class]="'col-' + line.type" align-self-start>
            <ion-button fill="clear" [shape]="line.type === 'TRAM' ? 'round' : ''"
                        size="large"
                        [class]="'' + line.type" [ngStyle]="line.getStyle()"
                        (click)="selectLine(line, index)"
            ><span *ngIf="!spinner[line.id]">{{ line.shortName }}</span><ion-spinner *ngIf="spinner[line.id]" name="dots"></ion-spinner></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<!---->
