<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid style="padding: 0">
        <ion-row style="padding: 0;">
          <ion-col style="padding: 0;">
            <ion-searchbar [disabled]="searchEverything" placeholder="Rechercher" (ionChange)="updateSearch()" [(ngModel)]="searchValue" style="padding: 0;"></ion-searchbar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-center><ion-spinner *ngIf="isSearching" name="dots"></ion-spinner></ion-col>
          <ion-col>
            <ion-select [(ngModel)]="pointSearchType" (ionChange)="handleTypes()" interface="popover" style="width: 100%; border-bottom: solid 1px lightgray">
              <ion-select-option value="arret">Arrêts</ion-select-option>
              <ion-select-option value="PAR,PKG">Parkings</ion-select-option>
              <ion-select-option value="recharge">Points recharge</ion-select-option>
              <ion-select-option value="agenceM">Agences Métromobilité</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let result of searchResults">
      <div [ngSwitch]="getType(result)">
        <ion-label *ngSwitchCase="'arret'">
          <p>{{ result.commune }}</p>
          <h3>{{ result.libelle }}</h3>
        </ion-label>
        <ion-label *ngSwitchCase="'parking'">
          <p>{{ result.libelle }}</p>
          <h3>{{ result.type }} - {{ result.totalSlots }} places en total</h3>
        </ion-label>
        <ion-label *ngSwitchCase="'agency'">
          <p>{{ result.libelle }}</p>
          <h3>{{ result.address }}</h3>
        </ion-label>
        <ion-label *ngSwitchCase="'generic'">
          <h3>{{ result.libelle }}</h3>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
