<ion-header>
  <ion-toolbar>
    <ion-title>
      Informations trafic
    </ion-title>
      <ion-button fill="clear" (click)="closeModal()" color="medium" size="small" slot="end">
        Fermer
        <ion-icon name="close" size="large"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="valeurSeg">
      <ion-segment-button value="voiture">
        <ion-label>Voiture</ion-label>
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="transports">
        <ion-label>Transports</ion-label>
        <ion-icon name="bus"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [hidden]="valeurSeg != 'voiture'">
    <ion-list>
      <ion-item *ngFor="let evtTR of ITraficV" text-wrap>
        <ion-label text-wrap>
          <p>{{ evtTR.dateDebut }} - {{ evtTR.dateFin }}</p>
          <div>{{ evtTR.texte }}</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div [hidden]="valeurSeg != 'transports'">
    <ion-list>
      <ion-item *ngFor="let evtTC of ITraficT" text-wrap>
        <ion-label text-wrap>
          <p>{{ evtTC.dateDebut }} - {{ evtTC.dateFin }}</p>
          <div>{{ evtTC.texte }}</div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


