<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" style="transition: all 0.5s">
    <ion-card-header>
      <ion-card-subtitle>Get moving</ion-card-subtitle>
      <ion-card-title>Welcome to MetromobilitéPlus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [ngSwitch]="hasFavourite()">
        <div *ngSwitchCase="true">
          <h2>
            Favoris :
          </h2>
          <ion-item-group *ngFor="let favourite of (expanded ? favourites : favourites.slice(0, 2)); let index = index">
            <ion-item-divider>
              <ion-label>
                {{ favourite.line.shortName }} &nbsp; {{ favourite.name }}
              </ion-label>
            </ion-item-divider>
            <ion-item *ngIf="favourite.name !== favourite.way">
              {{ favourite.way }} &nbsp; &nbsp; &nbsp;
              <ion-label *ngIf="hoursFavourites[index][0] !== undefined">{{ midnightTimestampToString(hoursFavourites[index][0].times[0].realtimeDeparture) }}</ion-label>
            </ion-item>
            <ion-item *ngIf="favourite.otherWay !== undefined && favourite.otherWay.way !== favourite.name">
              {{ favourite.otherWay.way }} &nbsp; &nbsp; &nbsp;
              <ion-label *ngIf="hoursFavourites[index][1] !== undefined">{{ midnightTimestampToString(hoursFavourites[index][1].times[0].realtimeDeparture) }}</ion-label>
            </ion-item>
          </ion-item-group>
        </div>
        <h2 *ngSwitchDefault>
          Il n'y a pas de favoris, ajoutez-en !
        </h2>
      </div>
    </ion-card-content>
    <div style="position: relative; text-align: right;" *ngIf="hasManyFavourite()">
      <ion-button fill="clear" style="position: relative;" [ngSwitch]="expanded" (click)="expanded = !expanded">
        <ion-icon name="arrow-down" size="small" *ngSwitchCase="false"></ion-icon>
        <ion-icon name="arrow-up" size="small" *ngSwitchCase="true"></ion-icon>
      </ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Informations
      </ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button (click)="traficInfoModal()" id="centered" color="tertiary">Voir les informations trafic
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="IAtmo != undefined && IAtmo.length > 0" style="text-align: center;">
      <ion-card-header [ngStyle]="{ color: IAtmo[0].indiceExpositionSensible[1].couleur }">
        <div style="background-color: gray; display: inline-block; padding: 5px; border-radius: 5px;">
          <ion-icon name="cloud" size="large"></ion-icon>
          {{ IAtmo[0].indiceExpositionSensible[1].valeur }}
        </div>
      </ion-card-header>
      <ion-card-content>
        <p> L'atmosphère est {{ IAtmo[0].indiceExpositionSensible[1].qualificatif }}. </p>
        <p *ngIf="IAtmo[0].dispositifEnCours == 'Pas de dispositif'">Il n'y a pas de dispositif en cours.</p>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
